.root {
  position: fixed;
  background: var(--mantine-window-background);
  border-radius: var(--mantine-radius-lg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4px;
}

.container {
  border: 1px solid var(--mantine-color-dark-3);
  border-radius: calc(var(--mantine-radius-lg) - 4px);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-xs);
  cursor: move;
  user-select: none;
  min-height: 40px;
  color: var(--mantine-color-dark-1);
}

.header:active {
  cursor: grabbing;
}

.content {
  flex: 1;
  overflow: auto;
  padding: var(--mantine-spacing-sm);
}

.pre {
  color: var(--mantine-color-green-4);
  font-size: 11px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', monospace;
  margin: 0;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
}

.resizeHandle {
  position: absolute;
  right: 2px;
  bottom: 2px;
  cursor: nwse-resize;
  color: var(--mantine-color-dark-1);
}
