.root {
  position: fixed;
  background: var(--window-background);
  border-radius: var(--window-radius);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4px;

  &[data-window-draggable='true'] {
    user-select: none;
  }
}

.container {
  border-radius: calc(var(--window-radius) - 4px);
  display: flex;
  flex-direction: column;
  height: 100%;

  @mixin light {
    --window-container-border-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    --window-container-border-color: var(--mantine-color-dark-5);
  }

  border: 1px solid var(--window-container-border-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-xs);
  height: 40px;
  color: var(--mantine-color-dark-1);

  &[data-window-draggable='true'] {
    user-select: none;
  }
}

.header:active {
  cursor: default;
}

.title {
  font-weight: 600;
  font-size: 16px;

  @mixin light {
    color: var(--mantine-color-dark-5);
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);
  }
}

.closeButton,
.collapseButton,
.windowToolsButton {
  --ai-size: 12px;

  svg {
    transition: opacity 350ms ease;
    opacity: 0;
    color: var(--mantine-color-dark-9);
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }
}

.windowToolsButton {
  svg {
    transform: rotateZ(-45deg);
  }
}

.content {
  flex: 1;
  overflow: auto;
  padding: var(--mantine-spacing-sm);
}

.pre {
  color: var(--mantine-color-green-4);
  font-size: 11px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', monospace;
  margin: 0;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
}

.resizeHandleTopLeft {
  position: absolute;
  left: 2px;
  top: 2px;
  cursor: nwse-resize;
  width: 8px;
  height: 8px;
}

.resizeHandleTop {
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
  cursor: ns-resize;
  width: 40px;
  height: 4px;
}

.resizeHandleTopRight {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: nesw-resize;
  width: 8px;
  height: 8px;
}

.resizeHandleRight {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
  width: 4px;
  height: 40px;
}

.resizeHandleBottomRight {
  position: absolute;
  right: 2px;
  bottom: 2px;
  cursor: nwse-resize;
  width: 8px;
  height: 8px;
}

.resizeHandleBottom {
  position: absolute;
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
  cursor: ns-resize;
  width: 40px;
  height: 4px;
}

.resizeHandleBottomLeft {
  position: absolute;
  left: 2px;
  bottom: 2px;
  cursor: nesw-resize;
  width: 8px;
  height: 8px;
}

.resizeHandleLeft {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
  width: 4px;
  height: 40px;
}
