.root {
  position: fixed;
  background: var(--mantine-window-background);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow:
    0 0 2px rgba(255, 255, 255, 0.4),
    0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-xs);
  border-bottom: 1px solid var(--mantine-color-dark-4);
  cursor: move;
  user-select: none;
  min-height: 40px;
  color: var(--mantine-color-dark-1);
}

.header:active {
  cursor: grabbing;
}

.content {
  flex: 1;
  overflow: auto;
  padding: var(--mantine-spacing-sm);
}

.pre {
  color: var(--mantine-color-green-4);
  font-size: 11px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', monospace;
  margin: 0;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
}

.resizeHandle {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 14px;
  height: 14px;
  cursor: nwse-resize;
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 50%,
    var(--mantine-color-dark-2) 50%,
    var(--mantine-color-dark-1) 100%
  );
  border-bottom-right-radius: 6px;
}

.resizeHandle::after {
  content: '';
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 14px;
  height: 14px;
  cursor: nwse-resize;
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 50%,
    var(--mantine-color-dark-9) 50%,
    var(--mantine-color-dark-9) 100%
  );
  border-bottom-right-radius: 5px;
}

.resizeHandle:hover {
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 50%,
    var(--mantine-color-primary-6) 50%,
    var(--mantine-color-primary-6) 100%
  );
}
