.root {
  position: fixed;
  background: var(--mantine-window-background);
  border-radius: var(--mantine-radius-lg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4px;

  &[data-window-draggable='true'] {
    cursor: move;
    user-select: none;
  }
}

.container {
  border: 1px solid var(--mantine-color-dark-3);
  border-radius: calc(var(--mantine-radius-lg) - 4px);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-xs);
  min-height: 40px;
  color: var(--mantine-color-dark-1);

  &[data-window-draggable='true'] {
    cursor: move;
    user-select: none;
  }
}

.header:active {
  cursor: grabbing;
}

.content {
  flex: 1;
  overflow: auto;
  padding: var(--mantine-spacing-sm);
}

.pre {
  color: var(--mantine-color-green-4);
  font-size: 11px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', monospace;
  margin: 0;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
}

.resizeHandleTopLeft {
  position: absolute;
  left: 2px;
  top: 2px;
  cursor: nwse-resize;
  width: 8px;
  height: 8px;
}

.resizeHandleTop {
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
  cursor: ns-resize;
  width: 40px;
  height: 4px;
}

.resizeHandleTopRight {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: nesw-resize;
  width: 8px;
  height: 8px;
}

.resizeHandleRight {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
  width: 4px;
  height: 40px;
}

.resizeHandleBottomRight {
  position: absolute;
  right: 2px;
  bottom: 2px;
  cursor: nwse-resize;
  width: 8px;
  height: 8px;
}

.resizeHandleBottom {
  position: absolute;
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
  cursor: ns-resize;
  width: 40px;
  height: 4px;
}

.resizeHandleBottomLeft {
  position: absolute;
  left: 2px;
  bottom: 2px;
  cursor: nesw-resize;
  width: 8px;
  height: 8px;
}

.resizeHandleLeft {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
  width: 4px;
  height: 40px;
}
