.root {
  --window-handle-size: 6px;
  --window-handle-length: 40px;
  --window-handle-square: 14px;

  position: fixed;
  background: var(--window-background);
  border-radius: var(--window-radius);
  box-shadow: var(--window-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4px;

  &:where([data-with-border]) {
    border: rem(1px) solid var(--mantine-color-gray-1);

    @mixin dark {
      border: rem(1px) solid var(--mantine-color-gray-8);
    }
  }
}

.container {
  border-radius: calc(var(--window-radius) - 4px);
  display: flex;
  flex-direction: column;
  height: 100%;

  @mixin light {
    --window-container-border-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    --window-container-border-color: var(--mantine-color-dark-5);
  }

  border: 1px solid var(--window-container-border-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-xs);
  height: 40px;
  color: var(--mantine-color-dark-1);
  -webkit-touch-callout: none;

  &[data-window-draggable='true'] {
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
  }
}

.header:active {
  cursor: default;
}

.title {
  font-weight: 600;
  font-size: var(--mantine-font-size-sm);

  @mixin light {
    color: var(--mantine-color-dark-5);
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);
  }
}

.closeButton,
.collapseButton,
.windowToolsButton {
  --ai-size: 12px !important;

  svg {
    transition: opacity 350ms ease;
    opacity: 0;
    color: var(--mantine-color-dark-9);
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }
}

.windowToolsButton {
  svg {
    transform: rotateZ(-45deg);
  }
}

.content {
  flex: 1;
  overflow: auto;
  padding: var(--mantine-spacing-sm);
}

.pre {
  color: var(--mantine-color-green-4);
  font-size: 11px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', monospace;
  margin: 0;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
}

.resizeHandleTopLeft {
  position: absolute;
  cursor: nwse-resize;
  left: 0;
  top: 0;
  width: var(--window-handle-square);
  height: var(--window-handle-square);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

.resizeHandleTop {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  cursor: ns-resize;
  width: var(--window-handle-length);
  height: var(--window-handle-size);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;

  &[data-full-size='true'] {
    left: var(--window-handle-square);
    right: var(--window-handle-square);
    width: auto;
    transform: none;
  }
}

.resizeHandleTopRight {
  position: absolute;
  cursor: nesw-resize;
  right: 0;
  top: 0;
  width: var(--window-handle-square);
  height: var(--window-handle-square);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

.resizeHandleRight {
  position: absolute;
  transform: translateY(-50%);
  cursor: ew-resize;
  right: 0;
  top: 50%;
  width: var(--window-handle-size);
  height: var(--window-handle-length);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;

  &[data-full-size='true'] {
    top: var(--window-handle-square);
    bottom: var(--window-handle-square);
    height: auto;
    transform: none;
  }
}

.resizeHandleBottomRight {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
  width: var(--window-handle-square);
  height: var(--window-handle-square);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

.resizeHandleBottom {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  cursor: ns-resize;
  width: var(--window-handle-length);
  height: var(--window-handle-size);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;

  &[data-full-size='true'] {
    left: var(--window-handle-square);
    right: var(--window-handle-square);
    width: auto;
    transform: none;
  }
}

.resizeHandleBottomLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: nesw-resize;
  width: var(--window-handle-square);
  height: var(--window-handle-square);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

.resizeHandleLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
  width: var(--window-handle-size);
  height: var(--window-handle-length);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;

  &[data-full-size='true'] {
    top: var(--window-handle-square);
    bottom: var(--window-handle-square);
    height: auto;
    transform: none;
  }
}
